<!DOCTYPE html>
<html>
<head>
	<title>トップページ</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>伝説のハローワールド！</h1>
	<div class="contents">
		<a href="/register">新規会員登録へ！</a>
		<a href="/login">すでに会員ならログインへ！</a>
	</div>
</body>
</html>