<!DOCTYPE html>
<html>
<head>
	<title>ログイン</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>ログイン</h1>
	<div class="contents">
		<form method="post" action="/login-complete">
			<p>ID</p>
			<input type="text" name="id">
			<p>PASSWORD</p>
			<input type="text" name="password">
			<p><input type="submit" value="送信"></p>
		</form>
		<a href="/">トップページへ</a>
	</div>
</body>
</html>