<!DOCTYPE html>
<html>
<head>
	<title>ログイン完了</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h2>{{ this.name }}さん、ハローワールド！</h2>
	<div class="contents">
		<a href="/">トップページへ</a>
	</div>
</body>
</html>