<!DOCTYPE html>
<html>
<head>
	<title>会員登録</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>新規会員登録</h1>
	<div class="contents">
		<form method="post" action="/signin">
			<p>NAME</p>
			<input type="text" name="name">
			<p>ID</p>
			<input type="text" name="id">
			<p>PASSWORD</p>
			<input type="text" name="password">
			<p>E-MAIL</p>
			<input type="text" name="address">
			<p><input type="submit" value="送信"></p>
		</form>
		<a href="/">トップページへ</a>
	</div>
</body>
</html>