<!DOCTYPE html>
<html>
<head>
	<title>本登録完了</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>本登録が完了しました！</h1>
	<div class="contents">
		<a href="/">トップページへ</a>
	</div>
</body>
</html>