<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>ログインページ</title>
	</head>
	<body>
		<div class="contents">
			<h1>おっす！{{ this.name }}さん</h1>
			<p>確認メール送信したからチェックお願いします！</p>
			<a href="/">トップページへ</a>
		</div>
	</body>
</html>