* {
	margin: 0;
	padding: 0;
	text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.contents {
	height: 200px;
	width: 500px;
	margin: 50px auto;
	border: solid 1px #ccc;
	background: #ddd;
}